<!DOCTYPE html>
<html>
<body>

    <h1>@ViewData["title"]</h1>
    
    @if ( @ViewData["add"] != null )
    {
        <form action="https://localhost:5001/App/AddUser" method="post">
            First Name:<br>
            <input type="text" name="fname" placeholder="First Name">
            <br>
            Last Name:<br>
            <input type="text" name="lname" placeholder="Last Name">
            <br>
            Email:<br>
            <input type="text" name="email" placeholder="Email">
            <br>
            Login:<br>
            <input type="text" name="login" placeholder="Login">
            <br>
            Password:<br>
            <input type="text" name="password" placeholder="Password">
            <br>
            Confirm Password:<br>
            <input type="text" name="cpassword" placeholder="Confirm Password">
            <br><br>
            <input type="submit" value="Submit">
        </form><br/><br/>
    }
    else
    {
        <form action="https://localhost:5001/App/Login" method="post">
            Login:<br>
            <input type="text" name="login" placeholder="Login">
            <br>
            Password:<br>
            <input type="text" name="password" placeholder="Password">
            <br><br>
            <input type="submit" value="Submit">
        </form><br>
        <a href="https://localhost:5001/App/Login?add=true">Sign Up</a>
        
    }
        
</body>
</html>